<div id='translations'>
  <h1>Translations</h1>

  <% @keys.each do |key| %>
    <%= key %>
    <% Translator.locales.each do |locale| %>
      <%= render partial: "form", :locals => {:locale => locale, :key => key} %>
    <% end %>
  <% end %>
</div>
